<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28412088255-68b9rqmfc73strisrjch65j2g2dhmfub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28412088255-68b9rqmfc73strisrjch65j2g2dhmfub</string>
	<key>API_KEY</key>
	<string>AIzaSyAWP_mgxKuRkoTW6oDpaedlXIME1xwHvP0</string>
	<key>GCM_SENDER_ID</key>
	<string>28412088255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kathleen-Diep.WoofCommunity</string>
	<key>PROJECT_ID</key>
	<string>woofcommunity-45000</string>
	<key>STORAGE_BUCKET</key>
	<string>woofcommunity-45000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28412088255:ios:894e95f667bba6a1d89b0a</string>
</dict>
</plist>